# Ignore everything
*

# Except apogee-essential-edition HTML files and index
!apogee-essential-edition*.html
!index.html

# Except changelog.md and README.md
!changelog.md
!README.md

# Always track .gitignore itself
!.gitignore
